.displayBoardAdj {
    width: 704px;
    height: 204px;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 8px;
}

.displayBoardForLiveAdj{
    width: 704px;
    height: 304px;
    padding: 32px;
    background-color: #ffffff;
    border-radius: 8px;
}

.displayBoardText {
    width: 640px;
    height: 80px;
    font-size: 36px;
    line-height: 40px;
    font-weight: 500;
    text-align: left;
}

.displayHey {
    border-radius: 8px;
    background-color: #FEF3C7;
    padding: 20px 36px;
    color: #0284C7;
    font-family: Inter;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
}

.displayBoardNum {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #0284C7;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin: 0 0 24px;
    display: flex;
    justify-content: center;
}